<div class="container">
  <!-- style="position: relative;" -->
  <div class="row">
    <div class="col col-12">
      <h1 class="text-center sectionTitle helvetica mt-4 mb-4 titleCalc">
        Quality Storage & Demurrages Calculator
      </h1>
    </div>
  </div>
  <div class="container-fluid row py-3 px-3 px-md-5 px-sm-3">
    <div class="col col-12 mb-1" id="errorMessageC"></div>
    <div class="col allGroup cardDachser">
      <div
        id="calc"
        method="post"
        class="cntCalc py-3 topPartGroup row marginCalcCard"
      >
        <div class="col">
          <div class="row">
            <div
              class="col col-12 col-sm-12 col-lg-4 col-xl-4 position-relative"
            >
              <label class="labelCalc" for="vessArrivCalc"
                >Vessel Arrival</label
              >

              <input
                type="date"
                id="vessArrivCalc"
                class="form-control firstRowCalc"
                placeholder="Add vessel arrival"
                (change)="compDates()"
                required
              />
              <div class="invalid-tooltip">Please provide a valid date.</div>
            </div>
            <div
              class="col col-12 col-sm-12 col-lg-4 col-xl-4 position-relative"
            >
              <label class="labelCalc" for="gateOutFullContCalc"
                >Gate Out Full Container</label
              >
              <input
                type="date"
                id="gateOutFullContCalc"
                class="form-control firstRowCalc"
                placeholder="Gate out full container"
                (change)="compDates()"
                required
              />
              <div class="invalid-tooltip">Please provide a valid date.</div>
            </div>
            <div
              class="col col-12 col-sm-12 col-lg-4 col-xl-4 position-relative"
            >
              <label class="labelCalc" for="gateEmptyCalc"
                >Gate In Empty Container</label
              >
              <input
                type="date"
                id="gateEmptyCalc"
                class="form-control firstRowCalc"
                placeholder="Gate in empty container"
                (change)="compDates()"
                required
              />
              <div class="invalid-tooltip">Please provide a valid date.</div>
            </div>
          </div>

          <div class="row my-2 align-items-end rowdscalc">
            <div
              class="col col-12 col-sm-12 col-lg-4 col-xl-4 position-relative"
            >
              <label class="labelCalc" for="carrierCalc">Carrier</label>
              <select
                id="carrierCalc"
                (change)="portsWhereCarrier($event)"
                class="form-select secThRowCalc secndRowCalc"
                required
                disabled
              ></select>
              <div class="invalid-tooltip">Please select an option.</div>
            </div>
            <div
              class="col col-12 col-sm-12 col-lg-4 col-xl-4 position-relative"
            >
              <label class="labelCalc" for="portCalc">Port</label>
              <select
                class="form-select secThRowCalc secndRowCalc"
                (change)="carriersWherePort($event)"
                id="portCalc"
                disabled
              ></select>
              <div class="invalid-tooltip">Please select an option.</div>
            </div>
            <div
              class="col col-12 col-sm-12 col-lg-4 col-xl-4 position-relative"
            >
              <label class="labelCalc" for="containCalc">Container</label>
              <select
                name="calc_cntr"
                id="containCalc"
                (change)="validateSD($event)"
                class="form-select secThRowCalc secndRowCalc"
                disabled
              >
                <option value="" selected hidden>Select ctnr...</option>
                <option value="20">20'</option>
                <option value="40">40'</option>
              </select>
              <div class="invalid-tooltip">Please select an option.</div>
            </div>
          </div>

          <div class="row my-2 align-items-end rowdscalc">
            <div class="col col-12 col-sm-12 col-lg-4 col-xl-4 position-relative">
              <label class="labelCalc" for="freeStorageCalc"
                >Free Storage Days</label
              >

              <input
                type="text"
                id="freeStorageCalc"
                pattern="^([0-9]{1,2})?$"
                class="form-control secThRowCalc"
                placeholder="Add free storage days"
                disabled
              />
              <div class="invalid-tooltip">
                Please enter a valid value or leave the field blank.
              </div>
            </div>

            <div class="col col-12 col-sm-12 col-lg-4 col-xl-4 position-relative">
              <label class="labelCalc" for="freeDemDaysCalc"
                >Free Demurrage Days</label
              >
              <input
                type="text"
                name="calc_diasdem"
                id="freeDemDaysCalc"
                pattern="^([0-9]{1,2})?$"
                class="form-control secThRowCalc"
                placeholder="Add free damurrage days"
                disabled
              />
              <div class="invalid-tooltip">
                Please enter a valid value or leave the field blank.
              </div>
            </div>
            <div
              class="col col-12 col-sm-12 col-lg-4 col-xl-4 btnCalc d-flex align-items-top"
            >
              <button
                type="submit"
                class="btn btn-primary btnDschCalc secThRowCalc w-100"
                id="btnCalcPr"
                disabled
                (click)="showRes($event)"
              >
                <i class="fa-solid fa-calculator"></i> Calculate
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="row resRowCalcu bottomPartGroup marginCalcCard p-0"
        id="resRowCalcu"
        style="display: none"
      >
        <div
          class="contResult paddingCalculator col col-12 col-sm-12 col-lg-6 d-flex flex-column py-2"
          id="portStorageBorder"
        >
          <div class="card cardDachserGrey rowContentRes h-100">
            <div class="contMargin d-flex flex-column h-100">
              <div class="row">
                <div class="col m-2">
                  <h3 class="titleResCalc">Port Storage</h3>
                </div>
              </div>
              <div class="row">
                <div class="col text-center">
                  <p>Total Days:</p>
                  <p id="totalDaysPort">{{ total_sto_days }}</p>
                </div>
                <div class="col text-center">
                  <p>Priced Days:</p>
                  <p id="pricedDaysPort">{{ total_sto_pr_days }}</p>
                </div>
                <div class="col text-center">
                  <p>Tariff:</p>
                  <div id="tariffPort" *ngFor="let tar of sto_tariff">
                    <span>{{ tar }}</span
                    ><br />
                  </div>
                </div>
              </div>

              <div class="row d-flex justify-content-end m-3 p-2 mt-auto">
                <div class="col-auto text-center">
                  <h4><strong>Total:</strong></h4>
                  <strong>
                    <div id="totalPort">
                      <h4>{{ sto_total.SPE }}<br />{{ sto_total.USD }}</h4>
                    </div>
                  </strong>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div
          class="contResult col col-12 col-sm-12 col-lg-6 d-flex flex-column py-2"
        >
          <div class="card cardDachserGrey  rowContentRes h-100">
            <div class="contMargin d-flex flex-column h-100">
              <div class="row">
                <div class="col m-2">
                  <h3 class="titleResCalc">Demurrage</h3>
                </div>
              </div>

              <div class="row">
                <div class="col text-center">
                  <p>Total Days:</p>
                  <p id="totalDaysDem">{{ total_dem_days }}</p>
                </div>
                <div class="col text-center">
                  <p>Priced Days:</p>
                  <p id="pricedDaysDem">{{ total_dem_pr_days }}</p>
                </div>
                <div class="col text-center">
                  <p>Tariff:</p>
                  <div id="tariffDem" *ngFor="let tar of dem_tariff">
                    <span>{{ tar }}</span
                    ><br />
                  </div>
                </div>
                
              </div>

              <div class="row d-flex justify-content-end m-3 p-2 mt-auto">
                <div class="col-auto text-center">
                  <h4><strong>Total:</strong></h4>
                  <strong>
                    <div id="totalDem">
                    <h4>  {{ dem_total.SPE }}<br />{{ dem_total.USD }}</h4>
                    </div>
                  </strong>
                </div>
              </div>
              <!-- <div class="row justify-content-end">
                <div class="btnInfoCalc text-end col">
                  <strong>Demurrage Rate details </strong>
                  <button
                    class="btn btnPlusCalc me-1"
                    tg="iconDem"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#detailsDemurRate"
                    aria-expanded="false"
                    aria-controls="detailsDemurRate"
                  >
                    <i class="fa-solid fa-plus" id="iconDem"></i>
                  </button>
                </div>
              </div> -->
              <!-- <div class="row justify-content-end mb-2">
                <div class="col-auto mt-1 tableCalc">
                  <div class="collapse" id="detailsDemurRate">
                    <div class="card card-body me-1" id="tableDem">
                      <table class="table table-sm table-striped">
                        <tbody>
                          <tr
                            style="text-wrap: stable"
                            *ngFor="let demrow of dem_details"
                            [ngStyle]="{
                              'font-weight': demrow.included ? 'bold' : 'normal'
                            }"
                          >
                            <td>{{ demrow.detail_dem_day_range }}</td>
                            <td>{{ demrow.detail_dem_price }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <div class="loadSpinner" style="display: none"></div>
    </div>
  </div>

  <div class="accordion draggable-box" id="accordionSD" style="display: none">
    <!--   -->
    <!--   -->
    <div class="card">
      <!-- accordion-item -->
      <span class="accordion-header p-0" id="headingOne">
        <button
          class="d-flex flex-row justify-content-between align-items-center px-3 btn collapsed w-100"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
          (click)="clickToggle($event)"
          id="btnStoDet"
        >
          <i class="fa-solid fa-plus icon fa-2x"></i>

          <span class="btnText">RATE DETAILS PORT STORAGE</span>
        </button>
      </span>
      <div
        id="collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionSD"
      >
        <div class="accordion-body mx-2 p-0 cardDachser">
          <div class="" id="tablePort">
            <table class="table table-sm table-striped">
              <tbody>
                <tr
                  *ngFor="let storow of sto_details"
                  [ngStyle]="{
                    'font-weight': storow.included ? 'bold' : 'normal'
                  }"
                >
                  <td>{{ storow.detail_sto_day_range }}</td>
                  <td>{{ storow.detail_sto_price }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <!-- <div class="accordion-item"  > -->
      <span class="accordion-header p-0" id="headingTwo">
        <button
          class="d-flex flex-row justify-content-between align-items-center px-3 btn collapsed w-100"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
          (click)="clickToggle($event)"
          id="btnDemDet"
        >
          <i class="fa-solid fa-plus icon fa-2x"></i>
          <span class="btnText">RATE DETAILS DEMURRAGE</span>
        </button>
      </span>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionSD"
      >
        <div class="accordion-body mx-2 p-0 cardDachser">
          <div class="" id="tableDem">
            <table class="table table-sm table-striped">
              <tbody>
                <tr
                  style="text-wrap: balance"
                  *ngFor="let demrow of dem_details"
                  [ngStyle]="{
                    'font-weight': demrow.included ? 'bold' : 'normal'
                  }"
                >
                  <td>{{ demrow.detail_dem_day_range }}</td>
                  <td>{{ demrow.detail_dem_price }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
