<div class="main-container d-flex">
    <div class="sideBar shadow side_nav" id="side_nav">
        <div id="sideContent" class="sideContent sticky-top">
           <!--  <button id="allSideToggle" (click)="clicking()"></button> -->
            <button id="midToggle" (click)="clicking()"></button>
            <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-center">
                <div class="headerAbs">
                    <h1 class="fs-4">
                        <img src="assets/img/dachser-nobg.svg" width="67%" class="mx-auto d-block" alt="DACHSER" />
                    </h1>
                </div>
            </div>
            <!-- Lista navbar lateral -->
            <div class="" id="menuSidebar">
                <nav class="sideNavMenu dropMainElem" id="sideNavMenu">
                    <!-- new -->

                    <ul class="list-unstyled" id="listSideBar">
                        <!-- <button
              mat-raised-button
              matTooltip="Info about the action"
              aria-label="Button that displays a tooltip when focused or hovered over"
            >
              Action
            </button> -->
                        <li class="sideBarElem" matTooltipClass="cus-tooltip" matTooltip="SD Calculator" matTooltipPosition="right" [matTooltipDisabled]="tooltipDisabled">
                            <a class="text-decoration-none d-block" routerLink="sdcalculator">
                                <div class="divSideElem">
                                    <span class="sideBarIcon">
                    <!-- <fa-icon [icon]="faCalculator"></fa-icon> --><i class="fa-solid fa-business-time"></i>
                  </span>
                                    <span class="sideBarText"> SD Calculator </span>
                                </div>
                            </a>
                        </li>

                        <li class="sideBarElem" matTooltipClass="tooltip cus-tooltip" matTooltip="Kilometric Distances" matTooltipPosition="right" [matTooltipDisabled]="tooltipDisabled">
                            <a class="text-decoration-none d-block" routerLink="kmdistances">
                                <div class="divSideElem">
                                    <span class="sideBarIcon">
                    <fa-icon [icon]="faLocationDot"></fa-icon>
                  </span>
                                    <span class="sideBarText"> Kilometric Distances </span>
                                </div>
                            </a>
                        </li>
                        <!-- <li class="sideBarElem" matTooltipClass="tooltip cus-tooltip" matTooltip="Schedule" matTooltipPosition="right" [matTooltipDisabled]="tooltipDisabled">
                            <a class="text-decoration-none d-block" routerLink="schedule">
                                <div class="divSideElem">
                                    <span class="sideBarIcon">
                    <fa-icon [icon]="faCalendarDay"></fa-icon>
                  </span>
                                    <span class="sideBarText"> Schedule </span>
                                </div>
                            </a>
                        </li> -->
                        <li class="sideBarElem blankHref" matTooltipClass="tooltip cus-tooltip" matTooltip="Dachser Spain" matTooltipPosition="right" [matTooltipDisabled]="tooltipDisabled">
                            <a class="text-decoration-none d-block" id="gseWeb" href="https://www.dachser.es/es/" target="blank">
                                <div class="divSideElem">
                                    <span class="sideBarIcon">
                    <fa-icon [icon]="faTruckPlane"></fa-icon>
                  </span>
                                    <span class="sideBarText"> Dachser Spain </span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <hr class="h-color mx-2" />
        </div>
    </div>

    <div class="content" id="content">
        <nav class="navbar navbar-expand-lg header-nav sticky-top">
            <!-- fixed-top -->
            <button id="sideBarToggle" class="nav-link togIcon" (click)="clicking()">
        <fa-icon [icon]="faLessThan" id="togIcon" class=""></fa-icon
        ><!--  -->
      </button>
            <div class="container-fluid">
                <div class="d-flex">
                    <!--  justify-content-between -->
                    <a class="navbar-brand d-md-none fs-4" href="#"><img src="assets/img/dachser-nobg.svg" width="100px" class="mx-auto d-block" alt="DACHSER" /></a>
                </div>

                <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="btnMenuResp">
          <i class="fa-solid fa-bars"></i>
        </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0 flex-row">
                        <li class="nav-item d-flex align-items-center">
                            <button class="btn btn-primary" id="osticket" tool="CUSTOMER SERVICE TOOLS" data-bs-toggle="modal" data-bs-target="#osticketmodal">
                <i class="fa-solid fa-pen-to-square"></i> OsTicket Support
              </button>
                        </li>
                        <div class="row d-flex justify-content-center totalWidthNav p-0 m-0">
                            <li class="nav-item col col-auto text-center d-flex justify-content-center px-1">
                                <div class="stylesNavItem" style="max-width: 90px">
                                    <a class="nav-link px-2 px-sm-2 colorLink" routerLink="/portal">
                                        <span class="textIcon">
                      <i class="fa-solid fa-house"></i>
                    </span>
                                        <span class="textAfter"> Portal </span>
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item col col-auto text-center d-flex justify-content-center px-1">
                                <div class="stylesNavItem">
                                    <a class="nav-link px-2 px-sm-2 colorLink" aria-current="page" routerLink="/login">
                                        <span class="textIcon">
                      <i class="fa-solid fa-right-from-bracket"></i>
                    </span>
                                        <span class="textAfter"> Log out </span>
                                    </a>
                                </div>
                            </li>
                        </div>
                    </ul>
                    <div class="d-md-none divOptionMenu menuSidebar" id="divOptionMenu">
                        <p class="pt-3 mt-3 mb-0" style="
                border-top: 1px solid #0b3d91;
                color: #0b3d91;
                font-weight: 700;
              ">
                            Option Menu
                        </p>
                        <span id="copSideBar"> </span>
                    </div>
                </div>
            </div>
        </nav>

        <router-outlet></router-outlet>
    </div>
</div>

<div class="modal fade" id="osticketmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content cstools-modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">...</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>