.login-bg {
    height: 100vh;
    background: linear-gradient(150deg, rgb(0, 51, 160, 0.4) 0%, rgba(255, 196, 68, 0.3) 35%, rgba(218,218,218,0.8) 100%), url(./../../../public/assets/img/login-background.png);
    background-repeat: repeat none;
    background-size: cover;
    
    background-position: 0% 100%;

}

.login-title {
    text-align: center;
    font-weight: 700;
    color: var(--blueLightDch);

    transform: scale(0.9, 1);
}

hr {
    color: #6e4b00;
    width: 100%;

}

.login-form {
    width: 100%;
}

.login-content {
    display: flex;
    align-items: center;
    background-color: rgba(241, 241, 241, 0.9);
    border: none;
    width: 500px;
}

.btn-login {
    font-weight: 600;
    transition: all .2s;
    border-radius: 7px;
    padding: .9em 1em;

}