

<div class="main-container d-flex">
    <div class="sideBar shadow side_nav" id="side_nav">
        <div id="sideContent" class="sideContent sticky-top">
            <button id="allSideToggle"></button>
            <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-center">
                <div class="headerAbs">
                    <h1 class="fs-4"><img src="dachser-nobg.svg" width="67%" class="mx-auto d-block" alt="DACHSER"></h1>
                </div>
            </div>
            <!-- Lista navbar lateral -->
            <div class="" id="menuSidebar">
                <nav class="sideNavMenu dropMainElem"><!-- new -->
                    <ul class="list-unstyled" id="listSideBar">

                        <li class="sideBarElem">
                            <a class="text-decoration-none d-block" href=""><!-- px-3 py-2 -->
                                <div class="divSideElem">
                                    <span class="sideBarIcon">
                                        <i class="fa-solid fa-calculator"></i>
                                    </span>
                                    <span class="sideBarText">
                                        Pending
                                    </span>
                                </div>
                            </a>
                        </li>

                        <li class="sideBarElem">
                            <a class="text-decoration-none d-block" href="">
                                <div class="divSideElem">
                                    <span class="sideBarIcon">
                                        <i class="fa-regular fa-calendar-days"></i>
                                    </span>
                                    <span class="sideBarText">
                                        Pick Up
                                    </span>
                                </div>
                            </a>
                        </li>

                        <li class="sideBarElem">
                            <a class="text-decoration-none d-block" href="">
                                <div class="divSideElem">
                                    <span class="sideBarIcon">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </span>
                                    <span class="sideBarText">
                                        Pick Up
                                    </span>
                                </div>
                            </a>
                        </li>

                        <li class="sideBarElem blankHref">
                            <a class="text-decoration-none d-block" id="gseWeb" href="https://gse.forwarder.es" target="blank">
                                <div class="divSideElem">
                                    <span class="sideBarIcon">
                                        <i class="fa-solid fa-earth-americas"></i>
                                    </span>
                                    <span class="sideBarText">
                                        GSE WEB
                                    </span>
                                </div>

                            </a>
                        </li>
                        <!-- <li class="sideBarElem">
                            <a class="text-decoration-none d-block" href="todo.php">
                                <div class="divSideElem">
                                    <span class="sideBarIcon">
                                        <i class="fa-solid fa-clone"></i>
                                    </span>
                                    <span class="sideBarText">
                                        Historical
                                    </span>
                                </div>
                            </a>
                        </li> -->
                            <!-- <li class="sideBarElem dropMainElem" id="invoicingAct">
                                <a data-bs-toggle="collapse" aria-expanded="false" class="dropdown text-decoration-none d-block" href="#InvoicingSub">
                                    <div class="divSideElem">
                                        <span class="sideBarIcon">
                                            <i class="fa-solid fa-file-invoice-dollar"></i>
                                        </span>
                                        <span class="sideBarText">
                                            Invoicing
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <div>
                                <div class="containerSubmenu">
                                    <ul class="collapse list-unstyled submenuList " id="InvoicingSub">
                                        <li class="sublistElem">
                                            <a class="text-decoration-none d-block" href="invoicing.php">Pre-Allocation</a>
                                        </li>
                                        <li class="sublistElem">
                                            <a class="text-decoration-none d-block" href="salesInvoice.php">Outgoing Invoice</a>
                                        </li>
                                        <li class="sublistElem">
                                            <a class="text-decoration-none d-block" href="incInvoice.php">Incoming Invoice</a>
                                        </li>
                                        <li class="sublistElem">
                                            <a class="text-decoration-none d-block" href="invMailing.php">Mailing</a>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->
                      
                      
                       
                       
                    </ul>
                </nav>
            </div>
            <hr class="h-color mx-2">
        </div>
    </div>

    <div class="content " id="content">
        <nav class="navbar navbar-expand-lg header-nav sticky-top"><!-- fixed-top -->
            <button id="sideBarToggle" class="nav-link"><i id="togIcon" class="fa-solid fa-less-than"></i></button>
            <div class="container-fluid">
                <div class="d-flex"><!--  justify-content-between -->
                    <a class="navbar-brand d-md-none fs-4" href="#"><img src="dachser-yellowbg.svg" width="100px" class="mx-auto d-block" alt="DACHSER"></a>
                </div>


                <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="btnMenuResp">
                    <i class="fa-solid fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0 flex-row">
                        <li class="nav-item d-flex align-items-center">
                            <button class="btn btn-primary" id="osticket" tool="CUSTOMER SERVICE TOOLS"><i class="fa-solid fa-pen-to-square"></i> OsTicket Support</button>
                        </li>
                        <div class="row d-flex  justify-content-center totalWidthNav p-0 m-0">
                            <li class="nav-item col col-auto text-center d-flex justify-content-center px-1">
                                <div class="stylesNavItem" style="max-width: 90px;">
                                    <a class="nav-link px-2 px-sm-2 colorLink" href="/front.php">
                                        <span class="textIcon">
                                            <i class="fa-solid fa-house"></i>
                                        </span>
                                        <span class="textAfter">
                                            Portal
                                        </span>
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item col col-auto text-center d-flex justify-content-center px-1">
                                <div class="stylesNavItem">
                                    <a class="nav-link px-2 px-sm-2 colorLink" aria-current="page" href="/logout.php">
                                        <span class="textIcon">
                                            <i class="fa-solid fa-right-from-bracket"></i>
                                        </span>
                                        <span class="textAfter">
                                            Log out
                                        </span>
                                    </a>
                                </div>
                            </li>
                        </div>

                    </ul>
                    <div class="d-md-none divOptionMenu menuSidebar" id="divOptionMenu">
                        <p class="pt-3 mt-3 mb-0" style="border-top: 1px solid #0B3D91; color:#0B3D91;font-weight: 700;">Option Menu</p>
                    </div>
                </div>
            </div>
        </nav>
