.calkm {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: var(--blueDch);
}


#accordionkmdist button {
    background-color: orange;
    padding: 15px 7px;
    border-radius: 7px 0px 0px 7px;
    border: 1px solid orange;
}

#accordionkmdist .card,
#accordionkmdist .accordion-item {
    border-radius: inherit 0px 0px inherit;
    margin-bottom: 5px;
    border: none;

    background-color: rgba(255, 255, 255, 0.4);
}

#accordionkmdist .card,
#accordionkmdist .accordion-item .collapse {
    max-width: 305px;
}

#accordionkmdist {
    width: 150px;
    position: absolute;
    top: 250px;
    right: 0px;
    border-radius: 0px;
    background: transparent;
    transition: all .5s ease;
    overflow: hidden;
    animation: up 5s 1 ease;
    cursor: move;
}


@keyframes up {
    from {
        top: calc(100vh - 200px);
    }

    to {
        top: 250px;
    }
}

#accordionkmdist .accordion-header {
    border-radius: 7px 0px 0px 7px;
}

#accordionkmdist .btn {
    display: flex;
    flex-direction: column;
    font-size: .7em;
    transition: all .5s ease;
}

#accordionkmdist:has(.btn:not(.collapsed)) {
    width: 300px;
}


#accordionkmdist:has(.btn:not(.collapsed)) .btn:not(.collapsed) {
    background-color: rgba(255, 255, 255, 0.7) ;
    border: 1px solid var(--blueLightDch) !important;
    color: var(--blueLightDch) ;
}



#accordionkmdist .btnText {
    transition: width 0.5 ease;
    width: 80px;
    text-align: left;

}

#accordionkmdist .accordion-body {
    min-width: 250px;
}

#accordionkmdist .btn:not(.collapsed):hover {
    background-color: var(--blueLightDch)!important;
    border-color: var(--blueLightDch) !important;
    color: white !important;

}

#accordionkmdist .btn:hover {
    background-color: #ffb61aea!important;
    border-color: #ffb61aea!important;

} 